In [4]:
import pandas as pd
import psycopg2
import sqlalchemy
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [5]:
%load_ext sql

In [ ]:
%sql postgresql://postgres:password@127.0.0.1:60553/sql_challenge

In [ ]:
engine = create_engine('postgresql://postgres:password@127.0.0.1:51619/sql_challenge')
connection = engine.connect()

In [ ]:
salary_df = pd.read_sql('SELECT * FROM salary', connection)
salary_df.head()

In [ ]:
[dataframe] = pandas.read_sql_query([SQL Query], [engine], [other])

In [ ]:
data = engine.execute("SELECT * FROM employees LIMIT 5")
for row in data:
    print(row)
    print('---')